<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleShortVersionString</key>
  <string>2.0.1-rc-37</string>
  <key>CFBundleVersion</key>
  <string>2.0.1</string>
  <key>CFBundleIconFile</key>
	<string>@ICON@</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleIdentifier</key>
	<string>de.visolutions.QtInstall</string>
	<key>CFBundleSignature</key>
	<string>ttxt</string>
	<key>CFBundleExecutable</key>
	<string>@EXECUTABLE@</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ui</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>@ICON@</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
	</array>
	<key>NOTE</key>
	<string>Qt Install designed by Valentins QT Solutions</string>
</dict>
</plist>
